dist/contacts.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1"><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"><link rel="icon" href="favicon.ico" type="image/x-icon"><title>Admin | Contacts</title><link href="css/style.bundle.css" rel="stylesheet"></head><body><header class="header"><div class="header__wrap"><div class="header__logo"><img src="img/logo.svg" alt="Logo"></div><div class="header__logo_minimized"><img src="img/logo-minimized.svg" alt="Logo minimized"></div><div class="header__links-wrap"><ul class="header__links-list"><li class="header__link-item"><a class="header__link" href="/projects.html"><img src="img/icons/ProjectsIcon.svg" alt="Link icon"><span>Проекты</span></a></li><li class="header__link-item"><a class="header__link" href="/sliders.html"><img src="img/icons/SlidersIcon.svg" alt="Link icon"><span>Слайдер</span></a></li><li class="header__link-item"><a class="header__link" href="/fleet.html"><img src="img/icons/FleetIcon.svg" alt="Link icon"><span>Наш флот</span></a></li><li class="header__link-item"><a class="header__link" href="/news.html"><img src="img/icons/NewsIcon.svg" alt="Link icon"><span>Новости</span></a></li><li class="header__link-item"><a class="header__link" href="/partners.html"><img src="img/icons/PartnersIcon.svg" alt="Link icon"><span>Партнёры</span></a></li><li class="header__link-item"><a class="header__link" href="/certificates.html"><img src="img/icons/CertificatesIcon.svg" alt="Link icon"><span>Сертификаты</span></a></li><li class="header__link-item"><a class="header__link" href="/contacts.html"><img src="img/icons/ContactsIcon.svg" alt="Link icon"><span>Контакты</span></a></li><li class="header__link-item"><a class="header__link" href="/settings.html"><img src="img/icons/SettingsIcon.svg" alt="Link icon"><span>Настройки</span></a></li></ul></div><div class="header__collapse"><img src="img/icons/HeaderArrow.svg" alt="Collapse"><span>Скрыть</span></div></div></header><main id="contacts-page"><form class="container main-form"><div class="row"><div class="col-12"><div class="page-title-row"><h1 class="page-title">Контакты</h1><div class="btn-wrap"><button class="btn btn-primary" type="submit">Изменить</button></div></div></div><div class="col-12"><div class="inputs"><div class="inputs__title-wrap"><h2 class="inputs__title">Соц. сети</h2></div><div class="row"><div class="col-4"><div class="form-group"><input class="form-control" type="text" id="instagram" name="instagram" placeholder="Instagram"></div></div><div class="col-4"><div class="form-group"><input class="form-control" type="text" id="linkedin" name="linkedin" placeholder="LinkedIn"></div></div><div class="col-4"><div class="form-group"><input class="form-control" type="text" id="facebook" name="facebook" placeholder="Facebook"></div></div></div></div></div><div class="col-12"><div class="inputs"><div class="inputs__title-wrap"><h2 class="inputs__title">Данные</h2></div><div class="row"><div class="col-4"><div class="form-group"><input class="form-control" type="text" id="phone-1" name="phone-1" placeholder="Номер телефона 1"></div></div><div class="col-4"><div class="form-group"><input class="form-control" type="text" id="phone-2" name="phone-2" placeholder="Номер телефона 1"></div></div><div class="col-4"><div class="form-group"><input class="form-control" type="text" id="address" name="address" placeholder="Адрес"></div></div></div></div></div></div></form></main><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script><script type="text/javascript" src="./js/bundle.js"></script></body></html>

src/pages/contacts.pug
extends includes/layout
include mixins/inputText

block vars
  - const title = 'Admin | Contacts'

append content
  main#contacts-page
    form.container.main-form
      .row
        .col-12
          .page-title-row
            h1.page-title Контакты
            .btn-wrap
              button.btn.btn-primary(type="submit") Изменить
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Соц. сети
            .row
              .col-4
                +inputText('text', 'instagram', 'Instagram')
              .col-4
                +inputText('text', 'linkedin', 'LinkedIn')
              .col-4
                +inputText('text', 'facebook', 'Facebook')
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Данные
            .row
              .col-4
                +inputText('text', 'phone-1', 'Номер телефона 1')
              .col-4
                +inputText('text', 'phone-2', 'Номер телефона 1')
              .col-4
                +inputText('text', 'address', 'Адрес')
