dist/fleet-create.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1"><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"><link rel="icon" href="favicon.ico" type="image/x-icon"><title>Admin | Fleet create</title><link href="css/style.bundle.css" rel="stylesheet"></head><body><header class="header"><div class="header__wrap"><div class="header__logo"><img src="img/logo.svg" alt="Logo"></div><div class="header__logo_minimized"><img src="img/logo-minimized.svg" alt="Logo minimized"></div><div class="header__links-wrap"><ul class="header__links-list"><li class="header__link-item"><a class="header__link" href="/projects.html"><img src="img/icons/ProjectsIcon.svg" alt="Link icon"><span>Проекты</span></a></li><li class="header__link-item"><a class="header__link" href="/sliders.html"><img src="img/icons/SlidersIcon.svg" alt="Link icon"><span>Слайдер</span></a></li><li class="header__link-item"><a class="header__link" href="/fleet.html"><img src="img/icons/FleetIcon.svg" alt="Link icon"><span>Наш флот</span></a></li><li class="header__link-item"><a class="header__link" href="/news.html"><img src="img/icons/NewsIcon.svg" alt="Link icon"><span>Новости</span></a></li><li class="header__link-item"><a class="header__link" href="/partners.html"><img src="img/icons/PartnersIcon.svg" alt="Link icon"><span>Партнёры</span></a></li><li class="header__link-item"><a class="header__link" href="/certificates.html"><img src="img/icons/CertificatesIcon.svg" alt="Link icon"><span>Сертификаты</span></a></li><li class="header__link-item"><a class="header__link" href="/contacts.html"><img src="img/icons/ContactsIcon.svg" alt="Link icon"><span>Контакты</span></a></li><li class="header__link-item"><a class="header__link" href="/settings.html"><img src="img/icons/SettingsIcon.svg" alt="Link icon"><span>Настройки</span></a></li></ul></div><div class="header__collapse"><img src="img/icons/HeaderArrow.svg" alt="Collapse"><span>Скрыть</span></div></div></header><main id="fleet-create-page"><form class="container main-form" action="/"><div class="row"><div class="col-12"><div class="page-title-row"><h1 class="page-title">Создание флота</h1><div class="btn-wrap"><a class="btn btn-outline-primary" href="/fleet.html">Отмена</a><button class="btn btn-primary" type="submit">Создать флот</button></div></div></div><div class="col-12"><div class="inputs"><div class="inputs__title-wrap"><h2 class="inputs__title">Фото</h2><div class="form-group input-file"><label class="form-label" for="photos">Добавить фото</label><input class="form-control-file" type="file" multiple accept="image/*" id="photos" name="photos" data-img-size="small"></div></div><div class="row photos-wrap"><!-- Small images--><div class="col-2 mb-4"><div class="inputs__photo-preview inputs__photo-preview_small"><div class="inputs__photo-actions"><button class="action-btn view" data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png"><img class="icon-action" src="img/icons/ViewIcon.svg" alt="View"></button><button class="action-btn delete"><img class="icon-action" src="img/icons/DeleteIcon.svg" alt="Delete"></button></div><div class="inputs__photo"><img src="img/DefaultImage.png" alt="Default image"></div></div></div><div class="col-2 mb-4"><div class="inputs__photo-preview inputs__photo-preview_small"><div class="inputs__photo-actions"><button class="action-btn view" data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png"><img class="icon-action" src="img/icons/ViewIcon.svg" alt="View"></button><button class="action-btn delete"><img class="icon-action" src="img/icons/DeleteIcon.svg" alt="Delete"></button></div><div class="inputs__photo"><img src="img/DefaultImage.png" alt="Default image"></div></div></div><div class="col-2 mb-4"><div class="inputs__photo-preview inputs__photo-preview_small"><div class="inputs__photo-actions"><button class="action-btn view" data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png"><img class="icon-action" src="img/icons/ViewIcon.svg" alt="View"></button><button class="action-btn delete"><img class="icon-action" src="img/icons/DeleteIcon.svg" alt="Delete"></button></div><div class="inputs__photo"><img src="img/DefaultImage.png" alt="Default image"></div></div></div></div></div></div><div class="col-12"><div class="inputs"><div class="inputs__title-wrap"><h2 class="inputs__title">Данные</h2></div><div class="row"><div class="col-6"><div class="form-group"><input class="form-control" type="text" name="title" placeholder="Заголовок"></div></div><div class="col-6"><div class="form-group"><input class="form-control" type="text" name="sub-title" placeholder="Подзаголовок"></div></div></div></div></div><div class="col-12"><div class="inputs"><div class="inputs__title-wrap"><h2 class="inputs__title">Фото</h2><a class="btn-add-blocks" href="javascript:void[0]">Добавить описание</a></div><div class="row"><div class="col-4 mb-3"><div class="form-group vertical"><input class="form-control" type="text" name="description-title-1" placeholder="Заголовок"></div><div class="form-group vertical text-area"><textarea class="form-control" name="description-1" rows="6" placeholder="Подзаголовок"></textarea></div></div><div class="col-4 mb-3"><div class="form-group vertical"><input class="form-control" type="text" name="description-title-2" placeholder="Заголовок"></div><div class="form-group vertical text-area"><textarea class="form-control" name="description-2" rows="6" placeholder="Подзаголовок"></textarea></div></div><div class="col-4 mb-3"><div class="form-group vertical"><input class="form-control" type="text" name="description-title-3" placeholder="Заголовок"></div><div class="form-group vertical text-area"><textarea class="form-control" name="description-3" rows="6" placeholder="Подзаголовок"></textarea></div></div></div></div></div></div></form></main><div class="modal photo-modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog modal-dialog-centered" role="document"><div class="modal-content"><div class="modal-header"><button class="close-btn" type="button" data-dismiss="modal" aria-label="Close"><span></span><span></span></button></div><div class="modal-body"><div class="modal-photo-image"><img src="img/DefaultImage.png" alt="Modal photo"></div></div></div></div></div><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script><script type="text/javascript" src="./js/bundle.js"></script></body></html>

src/pages/fleet-create.pug
extends includes/layout
include mixins/photoModal

block vars
  - const title = 'Admin | Fleet create'

append content
  main#fleet-create-page
    form.container.main-form(action="/")
      .row
        .col-12
          .page-title-row
            h1.page-title Создание флота
            .btn-wrap
              a.btn.btn-outline-primary(href="/fleet.html") Отмена
              button.btn.btn-primary(type="submit") Создать флот
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Фото
              .form-group.input-file
                label.form-label(for="photos") Добавить фото
                input.form-control-file(type="file" multiple accept="image/*" id="photos" name="photos" data-img-size="small")
            .row.photos-wrap
              // Small images
              .col-2.mb-4
                .inputs__photo-preview.inputs__photo-preview_small
                  .inputs__photo-actions
                    button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                      img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
                    button.action-btn.delete
                      img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                  .inputs__photo
                    img(src="img/DefaultImage.png" alt="Default image")
              .col-2.mb-4
                .inputs__photo-preview.inputs__photo-preview_small
                  .inputs__photo-actions
                    button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                      img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
                    button.action-btn.delete
                      img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                  .inputs__photo
                    img(src="img/DefaultImage.png" alt="Default image")
              .col-2.mb-4
                .inputs__photo-preview.inputs__photo-preview_small
                  .inputs__photo-actions
                    button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                      img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
                    button.action-btn.delete
                      img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                  .inputs__photo
                    img(src="img/DefaultImage.png" alt="Default image")
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Данные
            .row
              .col-6
                .form-group
                  input.form-control(type="text" name="title" placeholder="Заголовок")
              .col-6
                .form-group
                  input.form-control(type="text" name="sub-title" placeholder="Подзаголовок")
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Фото
              a.btn-add-blocks(href="javascript:void[0]") Добавить описание
            .row
              .col-4.mb-3
                .form-group.vertical
                  input.form-control(type="text" name="description-title-1" placeholder="Заголовок")
                .form-group.vertical.text-area
                  textarea.form-control(name="description-1" rows="6" placeholder="Подзаголовок")
              .col-4.mb-3
                .form-group.vertical
                  input.form-control(type="text" name="description-title-2" placeholder="Заголовок")
                .form-group.vertical.text-area
                  textarea.form-control(name="description-2" rows="6" placeholder="Подзаголовок")
              .col-4.mb-3
                .form-group.vertical
                  input.form-control(type="text" name="description-title-3" placeholder="Заголовок")
                .form-group.vertical.text-area
                  textarea.form-control(name="description-3" rows="6" placeholder="Подзаголовок")

append footer_content
  +photoModal('photo-modal')
