src/pages/index.pug
extends includes/layout
include mixins/form

block vars
  - const isLogin = true
  - const title = 'Admin | Login'
  - const inputs = [{ type: 'email', id: 'email', placeholder: 'Почта', required: true },{ type: 'password', id: 'password', placeholder: 'Пароль', required: true }]

append content
  main#login-page
    section.login-section
      .container.login-container
        .row
          .col-4.offset-4
            .logo-wrap
              img(src="img/logo.svg" alt="Logo")
            h1.section-title Логин
            +form(inputs, '/', 'Войти')
            a(href="/fleet.html" class="link") Go to fleet

dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1"><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"><link rel="icon" href="favicon.ico" type="image/x-icon"><title>Admin | Login</title><link href="css/style.bundle.css" rel="stylesheet"></head><body><main id="login-page"><section class="login-section"><div class="container login-container"><div class="row"><div class="col-4 offset-4"><div class="logo-wrap"><img src="img/logo.svg" alt="Logo"></div><h1 class="section-title">Логин</h1><form action="/"><div class="form-group"><input class="form-control" type="email" id="email" name="email" placeholder="Почта" required/></div><div class="form-group"><input class="form-control" type="password" id="password" name="password" placeholder="Пароль" required/></div><button class="btn btn-primary" type="submit">Войти</button></form><a class="link" href="/fleet.html">Go to fleet</a></div></div></div></section></main><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script><script type="text/javascript" src="./js/bundle.js"></script></body></html>
