src/pages/news-create.pug
extends includes/layout

block vars
  - const title = 'Admin | News create'

append content
  main#news-create-page
    form.container.main-form
      .row
        .col-12
          .page-title-row
            h1.page-title Создание новости
            .btn-wrap
              a.btn.btn-outline-primary(href="/news.html") Отмена
              button.btn.btn-primary(type="submit") Создать новость
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Данные
            .row
              .col-9
                .form-group
                  input.form-control(type="text" name="title" placeholder="Заголовок")
              .col-3
                .form-group.select
                  select.custom-select(id="topic-select")
                    option(selected) Топик
                    option(value="1") Topic 1
                    option(value="2") Topic 2
                    option(value="3") Topic 3
              .col-12.mt-3
                .form-group.text-area
                  textarea.form-control(name="news-text" rows="6" placeholder="Текст новости")
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Фото
              .btn-adds-wrap
                a.btn-add-blocks.add-news-block(href="javascript:void[0]") Добавить блок
            .row.mb-5.news-row
              .col-12
                .row.photos-wrap
                  .col-3.mb-4
                    .form-group.add-file
                      label.add-icon(for="news-photos-99")
                        span
                        span
                      input.form-control-file(type="file" accept="image/*" multiple
                      id="news-photos-99" data-img-size="big" data-img-type="news")
                  .col-12
                    .form-group.text-area
                      textarea.form-control(name="news-text-99" rows="6" placeholder="Текст новости")

dist/news-create.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1"><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"><link rel="icon" href="favicon.ico" type="image/x-icon"><title>Admin | News create</title><link href="css/style.bundle.css" rel="stylesheet"></head><body><header class="header"><div class="header__wrap"><div class="header__logo"><img src="img/logo.svg" alt="Logo"></div><div class="header__logo_minimized"><img src="img/logo-minimized.svg" alt="Logo minimized"></div><div class="header__links-wrap"><ul class="header__links-list"><li class="header__link-item"><a class="header__link" href="/projects.html"><img src="img/icons/ProjectsIcon.svg" alt="Link icon"><span>Проекты</span></a></li><li class="header__link-item"><a class="header__link" href="/sliders.html"><img src="img/icons/SlidersIcon.svg" alt="Link icon"><span>Слайдер</span></a></li><li class="header__link-item"><a class="header__link" href="/fleet.html"><img src="img/icons/FleetIcon.svg" alt="Link icon"><span>Наш флот</span></a></li><li class="header__link-item"><a class="header__link" href="/news.html"><img src="img/icons/NewsIcon.svg" alt="Link icon"><span>Новости</span></a></li><li class="header__link-item"><a class="header__link" href="/partners.html"><img src="img/icons/PartnersIcon.svg" alt="Link icon"><span>Партнёры</span></a></li><li class="header__link-item"><a class="header__link" href="/certificates.html"><img src="img/icons/CertificatesIcon.svg" alt="Link icon"><span>Сертификаты</span></a></li><li class="header__link-item"><a class="header__link" href="/contacts.html"><img src="img/icons/ContactsIcon.svg" alt="Link icon"><span>Контакты</span></a></li><li class="header__link-item"><a class="header__link" href="/settings.html"><img src="img/icons/SettingsIcon.svg" alt="Link icon"><span>Настройки</span></a></li></ul></div><div class="header__collapse"><img src="img/icons/HeaderArrow.svg" alt="Collapse"><span>Скрыть</span></div></div></header><main id="news-create-page"><form class="container main-form"><div class="row"><div class="col-12"><div class="page-title-row"><h1 class="page-title">Создание новости</h1><div class="btn-wrap"><a class="btn btn-outline-primary" href="/news.html">Отмена</a><button class="btn btn-primary" type="submit">Создать новость</button></div></div></div><div class="col-12"><div class="inputs"><div class="inputs__title-wrap"><h2 class="inputs__title">Данные</h2></div><div class="row"><div class="col-9"><div class="form-group"><input class="form-control" type="text" name="title" placeholder="Заголовок"></div></div><div class="col-3"><div class="form-group select"><select class="custom-select" id="topic-select"><option selected>Топик</option><option value="1">Topic 1</option><option value="2">Topic 2</option><option value="3">Topic 3</option></select></div></div><div class="col-12 mt-3"><div class="form-group text-area"><textarea class="form-control" name="news-text" rows="6" placeholder="Текст новости"></textarea></div></div></div></div></div><div class="col-12"><div class="inputs"><div class="inputs__title-wrap"><h2 class="inputs__title">Фото</h2><div class="btn-adds-wrap"><a class="btn-add-blocks add-news-block" href="javascript:void[0]">Добавить блок</a></div></div><div class="row mb-5 news-row"><div class="col-12"><div class="row photos-wrap"><div class="col-3 mb-4"><div class="form-group add-file"><label class="add-icon" for="news-photos-99"><span></span><span></span></label><input class="form-control-file" type="file" accept="image/*" multiple id="news-photos-99" data-img-size="big" data-img-type="news"></div></div><div class="col-12"><div class="form-group text-area"><textarea class="form-control" name="news-text-99" rows="6" placeholder="Текст новости"></textarea></div></div></div></div></div></div></div></div></form></main><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script><script type="text/javascript" src="./js/bundle.js"></script></body></html>
