src/pages/projects.pug
extends includes/layout

block vars
  - const title = 'Admin | Projects'

append content
  main#projects-page
    .container
      .row
        .col-12
          .page-title-row
            h1.page-title Проекты
            .btn-wrap
              a.btn.btn-outline-primary(href="/projects-create.html") Создать проект
        .col-12
          .table-wrap
            table.table
              thead
                tr
                  th(scope="col")
                    p Фото
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-name" placeholder="Заголовок")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="description" placeholder="Описание")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="numbers" placeholder="Цифры")
                  th(scope="col")
                    p Действие
              tbody
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Это наш лучший проект за неделю
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__text
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Это наш лучший проект за неделю
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__text
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Это наш лучший проект за неделю
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__text
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Это наш лучший проект за неделю
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__text
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                      p 1,235 - some numbers about project
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
          .table-footer
            .table-footer__page-count
              p 1
              p из
              p 50
            .table-footer__nav-wrap
              a.table-footer__arrow.table-footer__arrow_prev(href="/fleet.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")
              a.table-footer__arrow.table-footer__arrow_next(href="/fleet.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")

dist/projects.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1"><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"><link rel="icon" href="favicon.ico" type="image/x-icon"><title>Admin | Projects</title><link href="css/style.bundle.css" rel="stylesheet"></head><body><header class="header"><div class="header__wrap"><div class="header__logo"><img src="img/logo.svg" alt="Logo"></div><div class="header__logo_minimized"><img src="img/logo-minimized.svg" alt="Logo minimized"></div><div class="header__links-wrap"><ul class="header__links-list"><li class="header__link-item"><a class="header__link" href="/projects.html"><img src="img/icons/ProjectsIcon.svg" alt="Link icon"><span>Проекты</span></a></li><li class="header__link-item"><a class="header__link" href="/sliders.html"><img src="img/icons/SlidersIcon.svg" alt="Link icon"><span>Слайдер</span></a></li><li class="header__link-item"><a class="header__link" href="/fleet.html"><img src="img/icons/FleetIcon.svg" alt="Link icon"><span>Наш флот</span></a></li><li class="header__link-item"><a class="header__link" href="/news.html"><img src="img/icons/NewsIcon.svg" alt="Link icon"><span>Новости</span></a></li><li class="header__link-item"><a class="header__link" href="/partners.html"><img src="img/icons/PartnersIcon.svg" alt="Link icon"><span>Партнёры</span></a></li><li class="header__link-item"><a class="header__link" href="/certificates.html"><img src="img/icons/CertificatesIcon.svg" alt="Link icon"><span>Сертификаты</span></a></li><li class="header__link-item"><a class="header__link" href="/contacts.html"><img src="img/icons/ContactsIcon.svg" alt="Link icon"><span>Контакты</span></a></li><li class="header__link-item"><a class="header__link" href="/settings.html"><img src="img/icons/SettingsIcon.svg" alt="Link icon"><span>Настройки</span></a></li></ul></div><div class="header__collapse"><img src="img/icons/HeaderArrow.svg" alt="Collapse"><span>Скрыть</span></div></div></header><main id="projects-page"><div class="container"><div class="row"><div class="col-12"><div class="page-title-row"><h1 class="page-title">Проекты</h1><div class="btn-wrap"><a class="btn btn-outline-primary" href="/projects-create.html">Создать проект</a></div></div></div><div class="col-12"><div class="table-wrap"><table class="table"><thead><tr><th scope="col"><p>Фото</p></th><th scope="col"><div class="form-group"><img src="img/icons/SearchIcon.svg" alt="Search"><input class="form-control" type="text" name="search-name" placeholder="Заголовок"></div></th><th scope="col"><div class="form-group"><img src="img/icons/SearchIcon.svg" alt="Search"><input class="form-control" type="text" name="description" placeholder="Описание"></div></th><th scope="col"><div class="form-group"><img src="img/icons/SearchIcon.svg" alt="Search"><input class="form-control" type="text" name="numbers" placeholder="Цифры"></div></th><th scope="col"><p>Действие</p></th></tr></thead><tbody><tr><td><div class="table__image"><img src="img/DefaultImage.png" alt="Photo"></div></td><td><div class="table__text"><p>Это наш лучший проект за неделю</p></div></td><td><div class="table__text"><p>There are several ways people can make money online. From selling products to advertising.
This article I am going to explain the concept of contextual advertising.</p></div></td><td><div class="table__text"><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p></div></td><td><div class="table__actions"><div class="table__dropdown dropdown"><button class="btn dropdown-toggle dropdown-btn" type="button" data-toggle="dropdown"><img src="img/icons/ActionIcon.svg" alt="Actions"></button><div class="dropdown-menu"><button class="dropdown-item edit" type="button">Редактировать</button><button class="dropdown-item disable" type="button">Отключить</button><button class="dropdown-item delete" type="button">Удалить</button></div></div></div></td></tr><tr><td><div class="table__image"><img src="img/DefaultImage.png" alt="Photo"></div></td><td><div class="table__text"><p>Это наш лучший проект за неделю</p></div></td><td><div class="table__text"><p>There are several ways people can make money online. From selling products to advertising.
This article I am going to explain the concept of contextual advertising.</p></div></td><td><div class="table__text"><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p></div></td><td><div class="table__actions"><div class="table__dropdown dropdown"><button class="btn dropdown-toggle dropdown-btn" type="button" data-toggle="dropdown"><img src="img/icons/ActionIcon.svg" alt="Actions"></button><div class="dropdown-menu"><button class="dropdown-item edit" type="button">Редактировать</button><button class="dropdown-item disable" type="button">Отключить</button><button class="dropdown-item delete" type="button">Удалить</button></div></div></div></td></tr><tr><td><div class="table__image"><img src="img/DefaultImage.png" alt="Photo"></div></td><td><div class="table__text"><p>Это наш лучший проект за неделю</p></div></td><td><div class="table__text"><p>There are several ways people can make money online. From selling products to advertising.
This article I am going to explain the concept of contextual advertising.</p></div></td><td><div class="table__text"><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p></div></td><td><div class="table__actions"><div class="table__dropdown dropdown"><button class="btn dropdown-toggle dropdown-btn" type="button" data-toggle="dropdown"><img src="img/icons/ActionIcon.svg" alt="Actions"></button><div class="dropdown-menu"><button class="dropdown-item edit" type="button">Редактировать</button><button class="dropdown-item disable" type="button">Отключить</button><button class="dropdown-item delete" type="button">Удалить</button></div></div></div></td></tr><tr><td><div class="table__image"><img src="img/DefaultImage.png" alt="Photo"></div></td><td><div class="table__text"><p>Это наш лучший проект за неделю</p></div></td><td><div class="table__text"><p>There are several ways people can make money online. From selling products to advertising.
This article I am going to explain the concept of contextual advertising.</p></div></td><td><div class="table__text"><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p><p>1,235 - some numbers about project</p></div></td><td><div class="table__actions"><div class="table__dropdown dropdown"><button class="btn dropdown-toggle dropdown-btn" type="button" data-toggle="dropdown"><img src="img/icons/ActionIcon.svg" alt="Actions"></button><div class="dropdown-menu"><button class="dropdown-item edit" type="button">Редактировать</button><button class="dropdown-item disable" type="button">Отключить</button><button class="dropdown-item delete" type="button">Удалить</button></div></div></div></td></tr></tbody></table></div><div class="table-footer"><div class="table-footer__page-count"><p>1</p><p>из</p><p>50</p></div><div class="table-footer__nav-wrap"><a class="table-footer__arrow table-footer__arrow_prev" href="/fleet.html"><img src="img/icons/FooterArrow.svg" alt="Arrow"></a><a class="table-footer__arrow table-footer__arrow_next" href="/fleet.html"><img src="img/icons/FooterArrow.svg" alt="Arrow"></a></div></div></div></div></div></main><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script><script type="text/javascript" src="./js/bundle.js"></script></body></html>
