dist/sliders.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1"><link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"><link rel="icon" href="favicon.ico" type="image/x-icon"><title>Admin | Sliders</title><link href="css/style.bundle.css" rel="stylesheet"></head><body><header class="header"><div class="header__wrap"><div class="header__logo"><img src="img/logo.svg" alt="Logo"></div><div class="header__logo_minimized"><img src="img/logo-minimized.svg" alt="Logo minimized"></div><div class="header__links-wrap"><ul class="header__links-list"><li class="header__link-item"><a class="header__link" href="/projects.html"><img src="img/icons/ProjectsIcon.svg" alt="Link icon"><span>Проекты</span></a></li><li class="header__link-item"><a class="header__link" href="/sliders.html"><img src="img/icons/SlidersIcon.svg" alt="Link icon"><span>Слайдер</span></a></li><li class="header__link-item"><a class="header__link" href="/fleet.html"><img src="img/icons/FleetIcon.svg" alt="Link icon"><span>Наш флот</span></a></li><li class="header__link-item"><a class="header__link" href="/news.html"><img src="img/icons/NewsIcon.svg" alt="Link icon"><span>Новости</span></a></li><li class="header__link-item"><a class="header__link" href="/partners.html"><img src="img/icons/PartnersIcon.svg" alt="Link icon"><span>Партнёры</span></a></li><li class="header__link-item"><a class="header__link" href="/certificates.html"><img src="img/icons/CertificatesIcon.svg" alt="Link icon"><span>Сертификаты</span></a></li><li class="header__link-item"><a class="header__link" href="/contacts.html"><img src="img/icons/ContactsIcon.svg" alt="Link icon"><span>Контакты</span></a></li><li class="header__link-item"><a class="header__link" href="/settings.html"><img src="img/icons/SettingsIcon.svg" alt="Link icon"><span>Настройки</span></a></li></ul></div><div class="header__collapse"><img src="img/icons/HeaderArrow.svg" alt="Collapse"><span>Скрыть</span></div></div></header><main id="sliders-page"><form class="container main-form"><div class="row"><div class="col-12"><div class="page-title-row"><h1 class="page-title">Слайдер</h1><div class="btn-wrap"><button class="btn btn-primary d-none" type="submit">Сохранить</button><div class="form-group"><label class="btn btn-outline-primary" for="slider-photo">Добавить фото</label><input class="form-control-file" type="file" accept="image/*" multiple id="slider-photo" data-img-size="big"></div></div></div></div><div class="col-12"><div class="row photos-wrap"><div class="col-4 mb-4"><div class="inputs__photo-preview inputs__photo-preview_big"><div class="inputs__photo-actions"><div class="form-group"><label class="action-btn edit" for="edit-photo-1"><img class="icon-action" src="img/icons/EditIcon.svg" alt="Edit"><span>Редактировать</span></label><input class="edit" type="file" accept="image/*" id="edit-photo-1"></div><button class="action-btn delete"><img class="icon-action" src="img/icons/DeleteIcon.svg" alt="Delete"><span>Удалить</span></button></div><div class="inputs__photo"><img src="img/DefaultImage.png" alt="Default image"></div></div></div></div></div></div></form></main><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script><script type="text/javascript" src="./js/bundle.js"></script></body></html>

src/pages/sliders.pug
extends includes/layout

block vars
  - const title = 'Admin | Sliders'

append content
  main#sliders-page
    form.container.main-form
      .row
        .col-12
          .page-title-row
            h1.page-title Слайдер
            .btn-wrap
              button.btn.btn-primary.d-none(type="submit") Сохранить
              .form-group
                label.btn.btn-outline-primary(for="slider-photo") Добавить фото
                input.form-control-file(type="file" accept="image/*" multiple id="slider-photo" data-img-size="big")
        .col-12
          .row.photos-wrap
            .col-4.mb-4
              .inputs__photo-preview.inputs__photo-preview_big
                .inputs__photo-actions
                  .form-group
                    label.action-btn.edit(for="edit-photo-1")
                      img.icon-action(src="img/icons/EditIcon.svg" alt="Edit")
                      span Редактировать
                    input.edit(type="file" accept="image/*" id="edit-photo-1")
                  button.action-btn.delete
                    img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                    span Удалить
                .inputs__photo
                  img(src="img/DefaultImage.png" alt="Default image")
